.blauw {
    background-color: #0769e0;
  }
.purpel {
    color: #7892e0;
}

.lichtblauw {
    background-color: #72c7e0;
}

.sticky{
  position: sticky;
  top: 0
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0769e0;
  color: white;
  text-align: center;
}
